<table border="1" cellspacing="0" cellpadding="0" id="grade1" style="display:none;" class="grade1">
    <tr>
        <td>
            <span id="grade1z1" style="display:none;"><img alt="" src='img/zb5.jpg' onclick="capturaAcaoJogador(1);" /></span>
            <span id="dead1z1"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade1z2" style="display:none;"><img alt="" src='img/zb6.jpg' onclick="capturaAcaoJogador(2);" /></span>
            <span id="dead1z2"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
    <tr>
        <td>
            <span id="grade1z3" style="display:none;"><img alt="" src='img/zb7.jpg' onclick="capturaAcaoJogador(3);" /></span>
            <span id="dead1z3"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade1z4" style="display:none;"><img alt="" src='img/zb8.jpg' onclick="capturaAcaoJogador(4);" /></span>
            <span id="dead1z4"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
    <tr>
        <td>
            <span id="grade1z5" style="display:none;"><img alt="" src='img/zb9.jpg' onclick="capturaAcaoJogador(5);" /></span>
            <span id="dead1z5"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade1z6" style="display:none;"><img alt="" src='img/zb10.jpg' onclick="capturaAcaoJogador(6);" /></span>
            <span id="dead1z6"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
    <tr>
        <td>
            <span id="grade1z7" style="display:none;"><img alt="" src='img/zb11.jpg' onclick="capturaAcaoJogador(7);" /></span>
            <span id="dead1z7"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade1z8" style="display:none;"><img alt="" src='img/zb12.jpg' onclick="capturaAcaoJogador(8);" /></span>
            <span id="dead1z8"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
</table>
