<table border="1" cellspacing="0" cellpadding="0" id="grade3" style="display:none;" class="grade3">
  <tr>
      <td>
          <span id="grade3z1" style="display:none;"><img alt="" src='img/zb1.jpg' onclick="capturaAcaoJogador(1);" /></span>
          <span id="dead3z1"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z2" style="display:none;"><img alt="" src='img/zb2.jpg' onclick="capturaAcaoJogador(2);" /></span>
          <span id="dead3z2"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z3" style="display:none;"><img alt="" src='img/zb3.jpg' onclick="capturaAcaoJogador(3);" /></span>
          <span id="dead3z3"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z4" style="display:none;"><img alt="" src='img/zb4.jpg' onclick="capturaAcaoJogador(4);" /></span>
          <span id="dead3z4"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z5" style="display:none;"><img alt="" src='img/zb5.jpg' onclick="capturaAcaoJogador(5);" /></span>
          <span id="dead3z5"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z6" style="display:none;"><img alt="" src='img/zb6.jpg' onclick="capturaAcaoJogador(6);" /></span>
          <span id="dead3z6"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
  <tr>
      <td>
          <span id="grade3z7" style="display:none;"><img alt="" src='img/zb7.jpg' onclick="capturaAcaoJogador(7);" /></span>
          <span id="dead3z7"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z8" style="display:none;"><img alt="" src='img/zb8.jpg' onclick="capturaAcaoJogador(8);" /></span>
          <span id="dead3z8"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z9" style="display:none;"><img alt="" src='img/zb9.jpg' onclick="capturaAcaoJogador(9);" /></span>
          <span id="dead3z9"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z10" style="display:none;"><img alt="" src='img/zb10.jpg' onclick="capturaAcaoJogador(10);" /></span>
          <span id="dead3z10"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z11" style="display:none;"><img alt="" src='img/zb11.jpg' onclick="capturaAcaoJogador(11);" /></span>
          <span id="dead3z11"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z12" style="display:none;"><img alt="" src='img/zb12.jpg' onclick="capturaAcaoJogador(12);" /></span>
          <span id="dead3z12"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
  <tr>
      <td>
          <span id="grade3z13" style="display:none;"><img alt="" src='img/zb13.jpg' onclick="capturaAcaoJogador(13);" /></span>
          <span id="dead3z13"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z14" style="display:none;"><img alt="" src='img/zb14.jpg' onclick="capturaAcaoJogador(14);" /></span>
          <span id="dead3z14"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z15" style="display:none;"><img alt="" src='img/zb1.jpg' onclick="capturaAcaoJogador(15);" /></span>
          <span id="dead3z15"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z16" style="display:none;"><img alt="" src='img/zb2.jpg' onclick="capturaAcaoJogador(16);" /></span>
          <span id="dead3z16"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z17" style="display:none;"><img alt="" src='img/zb3.jpg' onclick="capturaAcaoJogador(17);" /></span>
          <span id="dead3z17"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z18" style="display:none;"><img alt="" src='img/zb4.jpg' onclick="capturaAcaoJogador(18);" /></span>
          <span id="dead3z18"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
  <tr>
      <td>
          <span id="grade3z19" style="display:none;"><img alt="" src='img/zb5.jpg' onclick="capturaAcaoJogador(19);" /></span>
          <span id="dead3z19"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z20" style="display:none;"><img alt="" src='img/zb6.jpg' onclick="capturaAcaoJogador(20);" /></span>
          <span id="dead3z20"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z21" style="display:none;"><img alt="" src='img/zb7.jpg' onclick="capturaAcaoJogador(21);" /></span>
          <span id="dead3z21"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z22" style="display:none;"><img alt="" src='img/zb8.jpg' onclick="capturaAcaoJogador(22);" /></span>
          <span id="dead3z22"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z23" style="display:none;"><img alt="" src='img/zb9.jpg' onclick="capturaAcaoJogador(23);" /></span>
          <span id="dead3z23"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade3z24" style="display:none;"><img alt="" src='img/zb10.jpg' onclick="capturaAcaoJogador(24);" /></span>
          <span id="dead3z24"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
</table>
