<table border="1" cellspacing="0" cellpadding="0" id="grade0" style="display:none;" class="grade0">
  <tr>
      <td>
          <span id="grade0z1" style="display:none;"><img alt="" src="img/zb1.jpg" onclick="capturaAcaoJogador(1);" /> </span>
          <span id="dead0z1"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade0z2" style="display:none;"><img alt="" src='img/zb2.jpg' onclick="capturaAcaoJogador(2);" /></span>
          <span id="dead0z2" style="display:none;"><img alt="" src='img/zombieDead1.jpg' /></span>
      </td>
  </tr>
  <tr>
      <td>
          <span id="grade0z3" style="display:none;"><img alt="" src='img/zb3.jpg' onclick="capturaAcaoJogador(3);" /></span>
          <span id="dead0z3" style="display:none;"><img alt="" src='img/zombieDead1.jpg' /></span>
      </td>
      <td>
          <span id="grade0z4" style="display:none;"><img alt="" src='img/zb4.jpg' onclick="capturaAcaoJogador(4);" /></span>
          <span id="dead0z4" style="display:none;"><img alt="" src='img/zombieDead1.jpg' /></span>
      </td>
  </tr>
</table>
