<table border="1" cellspacing="0" cellpadding="0" id="grade4" style="display:none;" class="grade4">
    <tr>
        <td>
            <span id="grade4z1" style="display:none;"><img alt="" src='img/zb11.jpg' onclick="capturaAcaoJogador(1);" /></span>
            <span id="dead4z1"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z2" style="display:none;"><img alt="" src='img/zb12.jpg' onclick="capturaAcaoJogador(2);" /></span>
            <span id="dead4z2"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z3" style="display:none;"><img alt="" src='img/zb13.jpg' onclick="capturaAcaoJogador(3);" /></span>
            <span id="dead4z3"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z4" style="display:none;"><img alt="" src='img/zb14.jpg' onclick="capturaAcaoJogador(4);" /></span>
            <span id="dead4z4"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z5" style="display:none;"><img alt="" src='img/zb1.jpg' onclick="capturaAcaoJogador(5);" /></span>
            <span id="dead4z5"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z6" style="display:none;"><img alt="" src='img/zb2.jpg' onclick="capturaAcaoJogador(6);" /></span>
            <span id="dead4z6"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z7" style="display:none;"><img alt="" src='img/zb3.jpg' onclick="capturaAcaoJogador(7);" /></span>
            <span id="dead4z7"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z8" style="display:none;"><img alt="" src='img/zb4.jpg' onclick="capturaAcaoJogador(8);" /></span>
            <span id="dead4z8"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
    <tr>
        <td>
            <span id="grade4z9" style="display:none;"><img alt="" src='img/zb5.jpg' onclick="capturaAcaoJogador(9);" /></span>
            <span id="dead4z9"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z10" style="display:none;"><img alt="" src='img/zb7.jpg' onclick="capturaAcaoJogador(10);" /></span>
            <span id="dead4z10"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z11" style="display:none;"><img alt="" src='img/zb8.jpg' onclick="capturaAcaoJogador(11);" /></span>
            <span id="dead4z11"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z12" style="display:none;"><img alt="" src='img/zb9.jpg' onclick="capturaAcaoJogador(12);" /></span>
            <span id="dead4z12"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z13" style="display:none;"><img alt="" src='img/zb10.jpg' onclick="capturaAcaoJogador(13);" /></span>
            <span id="dead4z13"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z14" style="display:none;"><img alt="" src='img/zb11.jpg' onclick="capturaAcaoJogador(14);" /></span>
            <span id="dead4z14"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z15" style="display:none;"><img alt="" src='img/zb12.jpg' onclick="capturaAcaoJogador(15);" /></span>
            <span id="dead4z15"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z16" style="display:none;"><img alt="" src='img/zb13.jpg' onclick="capturaAcaoJogador(16);" /></span>
            <span id="dead4z16"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
    <tr>
        <td>
            <span id="grade4z17" style="display:none;"><img alt="" src='img/zb14.jpg' onclick="capturaAcaoJogador(17);" /></span>
            <span id="dead4z17"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z18" style="display:none;"><img alt="" src='img/zb1.jpg' onclick="capturaAcaoJogador(18);" /></span>
            <span id="dead4z18"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z19" style="display:none;"><img alt="" src='img/zb2.jpg' onclick="capturaAcaoJogador(19);" /></span>
            <span id="dead4z19"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z20" style="display:none;"><img alt="" src='img/zb3.jpg' onclick="capturaAcaoJogador(20);" /></span>
            <span id="dead4z20"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z21" style="display:none;"><img alt="" src='img/zb4.jpg' onclick="capturaAcaoJogador(21);" /></span>
            <span id="dead4z21"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z22" style="display:none;"><img alt="" src='img/zb5.jpg' onclick="capturaAcaoJogador(22);" /></span>
            <span id="dead4z22"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z23" style="display:none;"><img alt="" src='img/zb6.jpg' onclick="capturaAcaoJogador(23);" /></span>
            <span id="dead4z23"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z24" style="display:none;"><img alt="" src='img/zb7.jpg' onclick="capturaAcaoJogador(24);" /></span>
            <span id="dead4z24"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
    <tr>
        <td>
            <span id="grade4z25" style="display:none;"><img alt="" src='img/zb8.jpg' onclick="capturaAcaoJogador(25);" /></span>
            <span id="dead4z25"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z26" style="display:none;"><img alt="" src='img/zb9.jpg' onclick="capturaAcaoJogador(26);" /></span>
            <span id="dead4z26"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z27" style="display:none;"><img alt="" src='img/zb10.jpg' onclick="capturaAcaoJogador(27);" /></span>
            <span id="dead4z27"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z28" style="display:none;"><img alt="" src='img/zb11.jpg' onclick="capturaAcaoJogador(28);" /></span>
            <span id="dead4z28"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z29" style="display:none;"><img alt="" src='img/zb12.jpg' onclick="capturaAcaoJogador(29);" /></span>
            <span id="dead4z29"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z30" style="display:none;"><img alt="" src='img/zb13.jpg' onclick="capturaAcaoJogador(30);" /></span>
            <span id="dead4z30"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z31" style="display:none;"><img alt="" src='img/zb14.jpg' onclick="capturaAcaoJogador(31);" /></span>
            <span id="dead4z31"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
        <td>
            <span id="grade4z32" style="display:none;"><img alt="" src='img/zb1.jpg' onclick="capturaAcaoJogador(32);" /></span>
            <span id="dead4z32"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
        </td>
    </tr>
</table>


