<table border="1" cellspacing="0" cellpadding="0" id="grade2" style="display:none;" class="grade2">
  <tr>
      <td>
          <span id="grade2z1" style="display:none;"><img alt="" src='img/zb13.jpg' onclick="capturaAcaoJogador(1);" /></span>
          <span id="dead2z1"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z2" style="display:none;"><img alt="" src='img/zb14.jpg' onclick="capturaAcaoJogador(2);" /></span>
          <span id="dead2z2"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z3" style="display:none;"><img alt="" src='img/zb1.jpg' onclick="capturaAcaoJogador(3);" /></span>
          <span id="dead2z3"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z4" style="display:none;"><img alt="" src='img/zb2.jpg' onclick="capturaAcaoJogador(4);" /></span>
          <span id="dead2z4"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
  <tr>
      <td>
          <span id="grade2z5" style="display:none;"><img alt="" src='img/zb3.jpg' onclick="capturaAcaoJogador(5);" /></span>
          <span id="dead2z5"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z6" style="display:none;"><img alt="" src='img/zb4.jpg' onclick="capturaAcaoJogador(6);" /></span>
          <span id="dead2z6"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z7" style="display:none;"><img alt="" src='img/zb5.jpg' onclick="capturaAcaoJogador(7);" /></span>
          <span id="dead2z7"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z8" style="display:none;"><img alt="" src='img/zb6.jpg' onclick="capturaAcaoJogador(8);" /></span>
          <span id="dead2z8"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
  <tr>
      <td>
          <span id="grade2z9" style="display:none; "><img alt="" src='img/zb7.jpg' onclick="capturaAcaoJogador(9);" /></span>
          <span id="dead2z9"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z10" style="display:none;"><img alt="" src='img/zb8.jpg' onclick="capturaAcaoJogador(10);" /></span>
          <span id="dead2z10"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z11" style="display:none;"><img alt="" src='img/zb9.jpg' onclick="capturaAcaoJogador(11);" /></span>
          <span id="dead2z11"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z12" style="display:none;"><img alt="" src='img/zb10.jpg' onclick="capturaAcaoJogador(12);" /></span>
          <span id="dead2z12"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
  <tr>
      <td>
          <span id="grade2z13" style="display:none;"><img alt="" src='img/zb11.jpg' onclick="capturaAcaoJogador(13);" /></span>
          <span id="dead2z13"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z14" style="display:none;"><img alt="" src='img/zb12.jpg' onclick="capturaAcaoJogador(14);" /></span>
          <span id="dead2z14"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z15" style="display:none;"><img alt="" src='img/zb13.jpg' onclick="capturaAcaoJogador(15);" /></span>
          <span id="dead2z15"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
      <td>
          <span id="grade2z16" style="display:none;"><img alt="" src='img/zb14.jpg' onclick="capturaAcaoJogador(16);" /></span>
          <span id="dead2z16"  style="display:none;"><img alt="" src='img/zombieDead1.jpg' /> </span>
      </td>
  </tr>
</table>
